name: Build

on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency:
      group: build-${{ github.ref }}
      cancel-in-progress: true
    env:
      REGISTRY: ghcr.io
      REGISTRY_USER: ${{ github.actor }}
      REGISTRY_PASS: ${{ secrets.GITHUB_TOKEN }}
      REPO: jdobes/myserver
      PLATFORM: linux/amd64,linux/arm64
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Install qemu-user-static for multi-arch build
        run: |
          sudo apt update && sudo apt install -y qemu-user-static
      - name: Create tag
        run: |
          echo "TAG=$(date '+%Y%m%d')" >> $GITHUB_ENV
      - name: Build latest version
        run: |
          podman build --platform="$PLATFORM" --squash --manifest=myserver --label=org.opencontainers.image.version=$TAG .
      - name: Login to registry and push built image
        if: github.event_name == 'push'
        run: |
          echo "$REGISTRY_PASS" | podman login -u "$REGISTRY_USER" --password-stdin "$REGISTRY"
          podman manifest push myserver docker://$REGISTRY/$REPO:$TAG
          podman manifest push myserver docker://$REGISTRY/$REPO:latest
      - name: Delete old images
        if: github.event_name == 'push'
        uses: dataaxiom/ghcr-cleanup-action@cd0cdb900b5dbf3a6f2cc869f0dbb0b8211f50c4 # v1
        with:
          packages: myserver
          keep-n-tagged: 5
          delete-untagged: true
      - name: Cleanup
        run: |
          podman manifest rm myserver
